<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITrainService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/TrainService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITrainService" contract="TrainService.ITrainService"
                name="BasicHttpBinding_ITrainService" />
        </client>
    </system.serviceModel>
</configuration>