<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITrainService">
                    <security mode="None">
                        
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.1.1:8733/TrainService/" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ITrainService" contract="TrainService.ITrainService"
                name="WSDualHttpBinding_ITrainService">
                
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
